<ion-header>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
    <ion-title>
        <ion-text color="light">
          <ion-text color="light" class="fw700">Mi hoja de vida</ion-text>
        </ion-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (clicks)="notifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge color="dark" slot="end">2</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <!-- <ion-toolbar color="dark">
    <ion-searchbar [(ngModel)]="searchKey"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button size="small" shape="round" color="medium" (click)="searchFilter()">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar> -->
</ion-header>

<ion-content>
  <ion-card no-margin class="no-radius">
    <ion-item lines="none" color="medium">
      <ion-label>
        <h2 no-margin class="fw500 no-margin">
          <ion-text color="dark">Bienvenido!</ion-text>
        </h2>

        <p class="text-11x no-margin">
          <ion-text  color="primary">{{item.names}}</ion-text>
        </p>
      </ion-label>
      <!-- <ion-button shape="round" fill="outline" size="small" color="primary" (click)="alertLocation()">
        Location
        <ion-icon name="locate"></ion-icon>
      </ion-button> -->

      <ion-button shape="round" fill="outline" size="small" color="primary" [disabled]="!onEditForm.valid" (click)="save_data()">
        Guardar 
        <ion-icon name="checkbox-outline"></ion-icon>
      </ion-button>

    </ion-item>
  </ion-card>

  <!-- <ion-card class="bg-white">
    <ion-img [src]="themeCover"></ion-img>
    <ion-button expand="full" color="dark" (click)="presentImage(themeCover)" no-margin>
      Modal 1: Modal Image
    </ion-button>
  </ion-card> -->


  <br>
  <form [formGroup]="onEditForm" class="list-form">

      <!-- DATOS PERSONALES -->
      <ion-card no-margin class="no-radius">
        <ion-item lines="none" color="medium">
          <ion-label>
            <h2 no-margin class="fw500 no-margin">
              <ion-text color="dark">Datos Personales</ion-text>
            </h2>
          </ion-label>
        </ion-item>

        <!-- Nombre Completo -->
        <ion-item>
          <ion-label color="dark" position="stacked">Nombre completo:</ion-label>
          <ion-input inputmode="text" placeholder="Ejm: pepito perez" value="{{item.names}}" formControlName="full_name"></ion-input>
        </ion-item>

        <!-- Nacimiento -->
        <ion-item>
          <ion-label color="dark" position="stacked">Fecha de nacimiento:</ion-label>
          <ion-datetime value="{{item.birthdate}}" display-timezone="utc" formControlName="birthdate"></ion-datetime>
        </ion-item>

        <!-- Estado civil -->
        <ion-item>      
          <ion-label color="dark" position="stacked">Estado Civil:</ion-label>
          <ion-select formControlName="civil_state" value="{{item.civil_status}}">
            <ion-select-option value="1">Soltero(a)</ion-select-option>
            <ion-select-option value="2">Casado(a)</ion-select-option>
            <ion-select-option value="3">Separado(a)/Divorciado(a)</ion-select-option>
            <ion-select-option value="4">Viudo(a)</ion-select-option>
          </ion-select>
        </ion-item>

        <!-- Email -->
        <ion-item>
          <ion-label color="dark" position="stacked">Email:</ion-label>
          <ion-input formControlName="email" inputmode="email" placeholder="Ejm: pepitoperez@gmail.com" value="{{item.email}}" disabled readonly></ion-input>
        </ion-item>

        <!-- Identificacion -->
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-label color="dark" position="stacked">Tipo de identificación:</ion-label>
              <ion-select formControlName="type_identification" value="{{item.type_identification}}">
                <ion-select-option value="1">Cédula de ciudadania</ion-select-option>
                <ion-select-option value="2">Cédula de extranjería</ion-select-option>
                <ion-select-option value="3">Tarjeta de indetidad</ion-select-option>
                <ion-select-option value="4">Pasaporte</ion-select-option>
              </ion-select>
            </ion-col>
            <ion-col>
              <ion-label color="dark" position="stacked">N° identificación:</ion-label>
              <ion-input formControlName="number_identification" inputmode="number" placeholder="10265415454" value="{{item.number_identification}}"></ion-input>
            </ion-col>        
          </ion-row>
        </ion-grid>

        <!-- direccion -->
        <ion-item>
          <ion-label color="dark" position="stacked">Direccion:</ion-label>
          <ion-input formControlName="address" inputmode="text" placeholder="Ejm: Av. cra 14 # 37-15" value="{{item.address}}"></ion-input>
        </ion-item>

        <!-- Pais -->
        <ion-item>
          <ion-label color="dark" position="stacked">Pais/Nacionalidad:</ion-label>
          <ion-input formControlName="country" inputmode="text" placeholder="Ejm: Colombia" value="{{item.country}}"></ion-input>
        </ion-item>

        <!-- Ciudad -->
        <ion-item>
          <ion-label color="dark" position="stacked">Ciudad:</ion-label>
          <ion-input formControlName="city" inputmode="text" placeholder="Ejm: Bogotá" value="{{item.city}}"></ion-input>
        </ion-item>

      </ion-card>

      <br>

      <!-- PERFIL PROFESIONAL -->
      <ion-card no-margin class="no-radius">
        <ion-item lines="none" color="medium">
          <ion-label>
            <h2 no-margin class="fw500 no-margin">
              <ion-text color="dark">Perfil profesional</ion-text>
            </h2>
          </ion-label>
        </ion-item>

        <!-- Cargo o titulo breve de su hoja de vida -->
        <ion-item>
          <ion-label color="dark" position="stacked">Cargo o titulo breve de su hoja de vida:</ion-label>
          <ion-input formControlName="position" inputmode="text" placeholder="Ing. de sistemas" value="{{item.position}}"></ion-input>
        </ion-item>

        <!-- Descripción breve de su perfil profesional * -->
        <ion-item>
          <ion-label color="dark" position="stacked">Descripción breve de su perfil profesional:</ion-label>
          <ion-textarea formControlName="description_position" placeholder="Desarrollo,mantenimiento,depuracion de código...." value="{{item.description_position}}"></ion-textarea>
        </ion-item>

      </ion-card>

      <br>

      <!-- EXPERIENCIAS PROFESIONALES -->
      <ion-card no-margin class="no-radius">
        <ion-item lines="none" color="medium">
          <ion-label>
            <h2 no-margin class="fw500 no-margin">
              <ion-text color="dark">Experiencias profesionales</ion-text>
            </h2>
          </ion-label>
        </ion-item>


      <ion-grid *ngIf="profileProInputs">
          <ion-row>
            <ion-col  formArrayName="profile_pro" size="12" *ngFor="let inputs of profileProInputs.controls; let i = index">

                  <ion-item [formGroupName]="i">
                      <ion-label color="dark" position="stacked">Empresa:</ion-label>
                      <ion-input  inputmode="text"  formControlName="business"></ion-input>
                  </ion-item>

                  <ion-item [formGroupName]="i">
                      <ion-label color="dark" position="stacked">Sector de la Empresa:</ion-label>
                      <ion-input  inputmode="text"  formControlName="company_sector"></ion-input>
                  </ion-item>

                  <ion-item [formGroupName]="i"> 
                      <ion-label color="dark" position="stacked">Cargo:</ion-label>
                      <ion-input  inputmode="text"  formControlName="position"></ion-input>
                  </ion-item>

                  <ion-item [formGroupName]="i">
                        <ion-label color="dark" position="stacked">Area encargada:</ion-label>
                        <ion-select formControlName="area" >
                          <ion-select-option value="1">Administrativa</ion-select-option>
                          <ion-select-option value="2">Comercial</ion-select-option>
                          <ion-select-option value="3">Tecnica</ion-select-option>
                        </ion-select>
                  </ion-item>

                  <ion-item [formGroupName]="i">
                    <ion-label color="dark" position="stacked">Descripción funciones:</ion-label>
                    <ion-textarea formControlName="functions" placeholder="Desarrollo,mantenimiento,depuracion de código...."></ion-textarea>
                  </ion-item>

                  <ion-item class="delete" (click)="removePerfilePro(i)">
                      <ion-button color="danger">Eliminar</ion-button>
                  </ion-item>

                  <hr />
                  <br>

            </ion-col>
          </ion-row>
      </ion-grid>
   

      <ion-item >
          Añadir <ion-icon name="add-circle-outline" (click)="addPerfilePro()"></ion-icon>
      </ion-item>

    </ion-card>

      <br>
      
      <!-- FORMACION EDUCATIVA -->
      <ion-card no-margin class="no-radius">
        <ion-item lines="none" color="medium">
          <ion-label>
            <h2 no-margin class="fw500 no-margin">
              <ion-text color="dark">Formación Educativa</ion-text>
            </h2>
          </ion-label>
        </ion-item>


        <ion-grid *ngIf="profileEduInputs">
          <ion-row>
            <ion-col  formArrayName="profile_edu" size="12" *ngFor="let inputs of profileEduInputs.controls; let i = index">
    
                  <ion-item [formGroupName]="i">
                      <ion-label color="dark" position="stacked">Centro Educativo:</ion-label>
                      <ion-input formControlName="position" inputmode="text"  formControlName="educational_center"></ion-input>
                  </ion-item>
  
                  <ion-item [formGroupName]="i">
                        <ion-label color="dark" position="stacked">Nivel de estudios:</ion-label>
                        <ion-select formControlName="level_of_studies" >
                            <ion-select-option value="1">Básica Primaria</ion-select-option>
                            <ion-select-option value="2">Básica Secundaria</ion-select-option>
                            <ion-select-option value="3">Bachillerato / Educación Media</ion-select-option>
                            <ion-select-option value="4">Carrera técnica</ion-select-option>
                            <ion-select-option value="5">Carrera tecnológica</ion-select-option>
                            <ion-select-option value="6">Carrera Profesional</ion-select-option>
                            <ion-select-option value="7">Especialización</ion-select-option>
                            <ion-select-option value="8">Maestría</ion-select-option>
                            <ion-select-option value="9">Doctorado</ion-select-option>
                        </ion-select>
                  </ion-item>


                  <ion-item [formGroupName]="i">
                      <ion-label color="dark" position="stacked">Nivel de estudios:</ion-label>
                      <ion-select formControlName="state_education" >
                          <ion-select-option value="0">Culminado</ion-select-option>
                          <ion-select-option value="1">Cursando</ion-select-option>
                          <ion-select-option value="1">Aplazado</ion-select-option>
                      </ion-select>
                </ion-item>
                  
                <ion-item class="delete" (click)="removePerfileEdu(i)">
                    <ion-button color="danger">Eliminar</ion-button>
                </ion-item>

                <hr />
                <br>
    
            </ion-col>
          </ion-row>
        </ion-grid>  

          <ion-item>
            Añadir <ion-icon name="add-circle-outline" (click)="addPerfileEdu()"></ion-icon>
          </ion-item>

      </ion-card>

    <br>


    <!-- IDIOMAS -->
    <ion-card no-margin class="no-radius">
      <ion-item lines="none" color="medium">
        <ion-label>
          <h2 no-margin class="fw500 no-margin">
            <ion-text color="dark">Idiomas</ion-text>
          </h2>
        </ion-label>
      </ion-item>
      
   
      <ion-grid *ngIf="languageInputs">
        <ion-row>
            <ion-col  formArrayName="language" size="6" *ngFor="let inputs of languageInputs.controls; let i = index">

                  <ion-item [formGroupName]="i">
                      <ion-label color="dark" position="stacked">Idioma:</ion-label>
                        <ion-select formControlName="idioma">
                            <ion-select-option value="1">Español</ion-select-option>
                            <ion-select-option value="2">Ingles</ion-select-option>
                            <ion-select-option value="3">Frances</ion-select-option>
                            <ion-select-option value="4">Italiano</ion-select-option>
                            <ion-select-option value="5">Ruso </ion-select-option>
                        </ion-select>
          
                        <ion-label color="dark" position="stacked">Nivel:</ion-label>
                        <ion-select formControlName="nivel">
                            <ion-select-option value="1">Muy Basico</ion-select-option>
                            <ion-select-option value="2">Basico</ion-select-option>
                            <ion-select-option value="3">Intermedio</ion-select-option>
                            <ion-select-option value="4">Avanzado</ion-select-option>
                            <ion-select-option value="5">Nativo </ion-select-option>
                        </ion-select>
                  </ion-item>

                  <ion-item class="delete" (click)="removeLanguage(i)">
                      <ion-button color="danger">Eliminar</ion-button>
                  </ion-item>

                <hr />
                <br>

          </ion-col>
        </ion-row>
      </ion-grid>

          
        <ion-item>
          Añadir <ion-icon name="add-circle-outline" (click)="addLanguage()"></ion-icon>
        </ion-item>

    </ion-card>

    <ion-button expand="block" [disabled]="!onEditForm.valid" (click)="save_data()">
      Guardar
      <ion-icon name="checkbox-outline"></ion-icon>
    </ion-button>
  </form>


  <!-- <ion-card class="bg-white">
    <ion-img [src]="themeCover"></ion-img>
  </ion-card>

  <ion-button margin shape="round" expand="full" color="secondary" (click)="searchFilter()">
    Modal 2: Search Filter
  </ion-button> -->
  
  <!-- <popmenu></popmenu> -->

</ion-content>
  