<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Acerca de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ucc.jpg">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Aplicación de hoja de vida</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        Aplicación desarrollada con BD local. <br>
      </p>
      
      <p> <br>
        <b> Development By: </b> <br>

        Eder Daniel tautiva - Fullstack <br>
        Jefersson David Quiroga - Fullstack <br>
        Carlos Alfredo Palomino - Fullstack <br>
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>

