<ion-content padding class="login auth-page">

  <div class="auth-content">
    <!-- Logo -->
    <div padding-horizontal text-center>
      <div class="logo"></div>
      <h3 no-margin>
        <ion-text color="dark" class="fw700">
          <ion-text color="dark">Registro</ion-text>
        </ion-text>
      </h3>
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">
      
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" style="color: black;">
          <ion-icon name="mail" item-start></ion-icon>
          Email
        </ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="onRegisterForm.get('email').touched && onRegisterForm.get('email').hasError('required')">
        <ion-text color="danger">
          Campo requerido *
        </ion-text>
      </p>

      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating" style="color: black;">
          <ion-icon name="lock" item-start></ion-icon>
          Contraseña
        </ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text08" *ngIf="onRegisterForm.get('password').touched && onRegisterForm.get('password').hasError('required')">
        <ion-text color="danger">
          Campo requerido *
        </ion-text>
      </p>
    </form>

    <div margin-top>
      <ion-button icon-left size="medium" expand="full" shape="round" color="dark" (click)="signUp()" [disabled]="!onRegisterForm.valid"
        tappable>
        <ion-icon name="log-in"></ion-icon>
        Registrar
      </ion-button>

    </div>

    <!-- Other links -->
    <div text-center margin-top class="ion-padding-top">
      <span (click)="goToLogin()" tappable>
        <ion-text color="dark">
          <small>Ya tienes una cuenta?</small> <br><br>
          <strong>Inicia sesión</strong>
        </ion-text>
      </span>
    </div>

  </div>
</ion-content>